#archives {
    position: relative;
    top: 100px;
    margin: auto;
    padding: 20px;
}
#archives a {
    color: #5c6b72;
    text-decoration: none;
}
#archives .tag-icon {
    color: #5c6b72;
    text-decoration: none;
}
#archives .tags {
    margin-left: 20px;
}
#archives .tags .tag {
    margin-right: 10px;
}
#archives h3 {
    margin: 10px 0;
}
#archives .item-time {
    color: #5c6b72;
}
.timeline {
    margin-bottom: 30px;
}
.timeline-content {
    margin-left: 17.5px;
    padding: 24px;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #0002;
    border-radius: 3px;
    -webkit-transition: box-shadow 0.5s;
    -moz-transition: box-shadow 0.5s;
    -o-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
}
.timeline-content:hover {
    box-shadow: 0 2px 8px #00000017;
}
.timeline-tail {
    float: left;
    width: 7px;
    height: 7px;
    background: #fff;
    border: 2px solid #a5c2f5;
    border-radius: 50%;
}
