.article {
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(217, 217, 217, 0.502);
    background: rgba(255, 255, 255, 0.98);
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    margin: auto;
    position: relative;
    top: 100px;
    color: #1e3e3f;
    padding: 20px;
    font-size: 15px;
}
.article h1 {
    font-weight: bold;
    margin: 20px 0;
}
.article .info a {
    color: #5c6b72;
    text-decoration: none;
}
.article .info .date {
    color: #5c6b72;
    display: inline-block;
    margin-right: 20px;
}
.article .info .date .tag {
    margin-right: 10px;
}
.article .info .category {
    color: #5c6b72;
    display: inline-block;
    margin-right: 20px;
}
.article .info .category .tag {
    margin-right: 10px;
}
.article .info .tags {
    color: #5c6b72;
    display: inline-block;
    margin-right: 20px;
}
.article .info .tags .tag {
    margin-right: 10px;
}
.article .content {
    margin: 50px 0;
}
