#home-card {
    position: relative;
    width: 300px;
}
#card-div {
    top: 80px;
}
#home-card .card-style {
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    text-align: center;
    border: none;
    box-shadow: 0 0 20px #d9d9d980;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
#home-card .card-style:hover {
    box-shadow: 0 0 5px #d9d9d9;
    -webkit-transform: translate(-5px, -5px);
    -moz-transform: translate(-5px, -5px);
    -o-transform: translate(-5px, -5px);
    -ms-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px);
}
#home-card .card-style .avatar {
    text-align: center;
    margin: auto;
    width: 106px;
    height: 106px;
    border-radius: 50%;
    border: #f1f1f1 3px solid;
}
#home-card .card-style .avatar img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
#home-card .card-style .lover {
    float: left;
    text-align: center;
    margin: auto;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: #f1f1f1 3px solid;
}
#home-card .card-style .lover img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
#home-card .card-style .lover-love {
    float: left;
    text-align: center;
    margin: auto;
    width: 30px;
    height: 30px;
}
#home-card .card-style .lover-love img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
#home-card .card-style .name {
    margin: 10px auto;
    color: #1e3e3f;
    text-transform: capitalize;
}
#home-card .card-style .descriptions {
    margin: 20px auto;
    width: 85%;
}
#home-card .card-style .icon-links {
    width: 85%;
    margin: 10px auto;
    padding: 8px 15px;
    border-top: #cdcdcd solid 1px;
    border-bottom: #cdcdcd solid 1px;
}
#home-card .card-style .icon-links a {
    color: #5c6b72;
    font-size: 18px;
    padding: 3px 5px;
    border-radius: 5px;
}
#home-card .card-style .icon-links a:hover {
    color: #fff;
    background: #66afef;
}
#home-card .card-style .icon-links .icon-link {
    margin: 5px;
}
#home-card .card-style .friend-links {
    margin: 30px auto;
}
#home-card .card-style .friend-links .friend-link {
    margin: 5px auto;
    text-align: center;
}
#home-card .card-style .friend-links .friend-link a {
    display: inline-block;
    width: 140px;
    line-height: 3;
    color: #5c6b72;
    font-size: 16px;
    border-radius: 15px;
}
#home-card .card-style .friend-links .friend-link a:hover {
    background: -webkit-linear-gradient(120deg, #96ceff 0, #ff9edb 100%);
    background: -moz-linear-gradient(120deg, #96ceff 0, #ff9edb 100%);
    background: -o-linear-gradient(120deg, #96ceff 0, #ff9edb 100%);
    background: linear-gradient(120deg, #96ceff 0, #ff9edb 100%);
    color: #fff;
}
