footer {
    position: relative;
    font-size: 14px;
    width: 100%;
    text-align: center;
    top: 150px;
    padding-bottom: 20px;
    background: rgba(0, 0, 0, 0.2);
}
footer .footer-wrap {
    width: 900px;
    margin: auto;
    color: #ffffff;
}
footer .footer-wrap div {
    margin: 15px;
}
footer .footer-wrap a {
    color: #ff89d6;
    text-decoration:underline
}
footer .footer-icon {
    display: inline-block;
    margin: 0 10px;
    color: #ff89d6;
    font-size: 18px;
}
