@-moz-keyframes into {
    0% {
        opacity: 0;
        -moz-transform: scale(1.1);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}
@-webkit-keyframes into {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}
@-o-keyframes into {
    0% {
        opacity: 0;
        -o-transform: scale(1.1);
    }
    100% {
        opacity: 1;
        -o-transform: scale(1);
    }
}
@keyframes into {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@-moz-keyframes loading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes loading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes loading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes loading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes loop1 {
    0% {
        -moz-transform: rotate(30deg);
    }
    100% {
        -moz-transform: rotate(390deg);
    }
}
@-webkit-keyframes loop1 {
    0% {
        -webkit-transform: rotate(30deg);
    }
    100% {
        -webkit-transform: rotate(390deg);
    }
}
@-o-keyframes loop1 {
    0% {
        -o-transform: rotate(30deg);
    }
    100% {
        -o-transform: rotate(390deg);
    }
}
@keyframes loop1 {
    0% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(390deg);
    }
}
@-moz-keyframes loop2 {
    0% {
        -moz-transform: rotate(60deg);
    }
    100% {
        -moz-transform: rotate(420deg);
    }
}
@-webkit-keyframes loop2 {
    0% {
        -webkit-transform: rotate(60deg);
    }
    100% {
        -webkit-transform: rotate(420deg);
    }
}
@-o-keyframes loop2 {
    0% {
        -o-transform: rotate(60deg);
    }
    100% {
        -o-transform: rotate(420deg);
    }
}
@keyframes loop2 {
    0% {
        transform: rotate(60deg);
    }
    100% {
        transform: rotate(420deg);
    }
}
@-moz-keyframes loop3 {
    0% {
        -moz-transform: rotate(90deg);
    }
    100% {
        -moz-transform: rotate(450deg);
    }
}
@-webkit-keyframes loop3 {
    0% {
        -webkit-transform: rotate(90deg);
    }
    100% {
        -webkit-transform: rotate(450deg);
    }
}
@-o-keyframes loop3 {
    0% {
        -o-transform: rotate(90deg);
    }
    100% {
        -o-transform: rotate(450deg);
    }
}
@keyframes loop3 {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(450deg);
    }
}
@-moz-keyframes loop4 {
    0% {
        -moz-transform: rotate(120deg);
    }
    100% {
        -moz-transform: rotate(480deg);
    }
}
@-webkit-keyframes loop4 {
    0% {
        -webkit-transform: rotate(120deg);
    }
    100% {
        -webkit-transform: rotate(480deg);
    }
}
@-o-keyframes loop4 {
    0% {
        -o-transform: rotate(120deg);
    }
    100% {
        -o-transform: rotate(480deg);
    }
}
@keyframes loop4 {
    0% {
        transform: rotate(120deg);
    }
    100% {
        transform: rotate(480deg);
    }
}
body {
    width: 100%;
    background: #f6f8fa;
    color: #000000d9;
    font-family: "Poppins", "Noto Sans SC", sans-serif;
    font-size: 14px;
    font-weight: 500;
    scrollbar-color: #8ab5ff #e6efff;
    scrollbar-width: 8px;
    overflow-x: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
* {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}
ul {
    margin-top: 15px !important;
    margin-bottom: 10px !important;
    line-height: 1.7;
}
ul li {
    margin: 8px auto;
}
ol {
    margin-top: 15px !important;
    margin-bottom: 10px !important;
    line-height: 1.7;
}
ol li {
    margin: 8px auto;
}
h1 {
    margin: 15px 0;
    font-weight: bold;
    font-family: "Poppins", "Noto Sans SC", sans-serif;
    color: #1e3e3f;
    font-size: 30px;
}
h2 {
    margin: 15px 0;
    font-weight: bold;
    font-family: "Poppins", "Noto Sans SC", sans-serif;
    color: #1e3e3f;
    font-size: 27px;
}
h3 {
    margin: 15px 0;
    font-weight: bold;
    font-family: "Poppins", "Noto Sans SC", sans-serif;
    color: #1e3e3f;
    font-size: 24px;
}
h4 {
    margin: 15px 0;
    font-weight: bold;
    font-family: "Poppins", "Noto Sans SC", sans-serif;
    color: #1e3e3f;
    font-size: 21px;
}
h5 {
    margin: 15px 0;
    font-weight: bold;
    font-family: "Poppins", "Noto Sans SC", sans-serif;
    color: #1e3e3f;
    font-size: 18px;
}
p {
    margin: 15px 0;
    line-height: 1.7;
}
a {
    text-decoration: none;
}
a:hover {
    opacity: 0.8;
}
img {
    border-radius: 10px;
}
hr {
    border-style: dashed;
    border-width: 2px;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
blockquote {
    padding: 0.1px 15px;
    margin: 15px 0;
    border-radius: 3px;
    border-left: 3px solid #1e3e3f;
    font-weight: bold;
    background: #d9e8ff6b;
}
button,
img,
#home-head,
.go-post,
.page-current,
.all-s,
pre .language,
pre .copycode {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.article .content img,
.gt-container .markdown-body img {
    max-width: 70% !important;
    max-height: 70% !important;
}
.fa-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
}
.icon {
    margin-right: 5px;
    color: #5c6b72;
}
.into-enter-active {
    -webkit-animation: into 0.6s;
    -moz-animation: into 0.6s;
    -o-animation: into 0.6s;
    animation: into 0.6s;
}
.into-leave-active {
    -webkit-animation: into 0.6s;
    -moz-animation: into 0.6s;
    -o-animation: into 0.6s;
    animation: into 0.6s;
}
.slide-enter-active,
.slide-leave-active {
    transition: margin-top 0.3s, opacity 0.3s;
}
.slide-enter-from,
.slide-leave-to {
    margin-top: -300px;
    opacity: 0;
}
#home-background {
    position: fixed;
    z-index: -2;
    top: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content code {
    font-family: "Fira Code", monospace;
    background: rgba(189, 220, 247, 0.42);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    color: #4b616b;
}
.content pre {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ebeef5;
    margin: 25px 0;
    border-radius: 15px;
    position: relative;
}
.content .code-content {
    overflow: auto;
    padding: 50px 30px 20px;
}
.content pre code {
    background: none;
    padding: 0;
}
.content h1 {
    text-align: left !important;
    margin: 18px 0;
}
.content h2 {
    text-align: left !important;
    margin: 18px 0;
}
.content h3 {
    text-align: left !important;
    margin: 18px 0;
}
.content h4 {
    text-align: left !important;
    margin: 18px 0;
}
.content h5 {
    text-align: left !important;
    margin: 18px 0;
}
.content a {
    color: #66afef;
    text-decoration: none;
}
.content b {
    line-height: 2.5;
    font-weight: bold;
}
.content strong {
    line-height: 2.5;
    font-weight: bold;
}
.content img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.content table tr th {
    padding: 8px 20px;
    color: #1e3e3f;
}
.content table tr th:nth-child(2n) {
    background: #a3ddfb;
}
.content table tr th:nth-child(2n-1) {
    background: #a3ddfb;
}
.content table tr td {
    padding: 8px 20px;
}
.content table tr td:nth-child(2n) {
    background: rgba(199, 224, 251, 0.302);
}
.content table tr td:nth-child(2n-1) {
    background: rgba(217, 232, 255, 0.302);
}
.content table tbody tr {
    border-top: 2px solid #fff;
}
.content .markdownIt-Anchor {
    display: none;
}
.content .language {
    font-family: "Fira Code", monospace;
    position: absolute;
    top: 0px;
    left: 30px;
    padding: 10px 15px;
    background: -webkit-linear-gradient(to right, #ed6ea0 0, #ec8c69 100%);
    background: -moz-linear-gradient(to right, #ed6ea0 0, #ec8c69 100%);
    background: -o-linear-gradient(to right, #ed6ea0 0, #ec8c69 100%);
    background: linear-gradient(to right, #ed6ea0 0, #ec8c69 100%);
    box-shadow: 1px 1px 0.75rem rgba(237, 110, 161, 0.302);
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    border-radius: 0 0 10px 10px;
}
.content .copycode {
    position: absolute;
    top: 0;
    right: 0;
    font-size: large;
}
.content .copycode:hover {
    opacity: 0.8;
}
.content .copycode svg {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
}
.content .copycode.copied svg:first-child {
    opacity: 0;
}
.content .copycode:not(.copied) svg:last-child {
    opacity: 0;
}
.content .hljs {
    font-family: "Fira Code", monospace;
    background: none;
    line-height: 2;
    font-size: 13px;
}
.content .hljs .hljs-built_in {
    color: #42a4d6;
}
.content .hljs .hljs-keyword {
    color: #e24279;
}
.content .hljs .hljs-literal {
    color: #ff9800;
}
.content .hljs .hljs-number {
    color: #ff9800;
}
.content .hljs .hljs-doctag {
    color: #009688;
}
.content .hljs .hljs-string {
    color: #009688;
}
.content .hljs .hljs-comment {
    color: #9e9e9e;
}
.content .hljs .hljs-quote {
    color: #9e9e9e;
}
.content .hljs .hljs-attribute {
    color: #f00;
}
.content .hljs .hljs-name {
    color: #f00;
}
.content .hljs .hljs-attr {
    color: #525252;
}
.content .hljs .hljs-class {
    color: #3f51b5;
}
.content .hljs .hljs-title {
    color: #3f51b5;
}
.content .hljs .hljs-type {
    color: #3f51b5;
}
.content .hljs .hljs-params {
    color: #458;
}
.content .hljs .hljs-variable {
    color: #458;
}

.categories-tags {
    position: relative;
    top: 100px;
    margin: auto;
}
.categories-tags .all-s {
    text-align: center;
    max-width: 900px;
    width: 90%;
    margin: auto;
}
.categories-tags .all-s span {
    display: inline-block;
    margin: 10px;
}
.categories-tags .all-s span a {
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    border: rgba(255, 255, 255, 0.502) 1px solid;
}
.categories-tags .all-s span a:hover {
    border: #a5c2f5 1px solid;
    background: #fff !important;
    color: #5c6b72;
}
.categories-tags .all-s span a:hover .icon {
    color: #5c6b72;
}
.categories-tags .all-s span .icon {
    margin-left: 0;
    margin-right: 10px;
    color: #fff;
}
.categories-tags #archives {
    top: 60px;
}

#home-posts #posts .post,
#home-card {
    top: -50px;
}
.page-num,
.icon-link a {
    -webkit-transition: background 0.25s, color 0.25s;
    -moz-transition: background 0.25s, color 0.25s;
    -o-transition: background 0.25s, color 0.25s;
    transition: background 0.25s, color 0.25s;
}
.math .MathJax svg {
    vertical-align: baseline !important;
}
.gt-container *:not(.gt-header-textarea) {
    font-family: unset !important;
}
.gt-header-textarea {
    font-family: "Fira Code", "Noto Sans SC", monospace;
}
.gt-container .markdown-body {
    word-break: break-word;
}
.gt-container .gt-comment-content {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.gt-container .gt-comment-content:hover,
.gt-container .gt-header-textarea:hover,
.gt-container .gt-header-textarea:focus {
    box-shadow: 0 2px 8px #00000017 !important;
    background-color: #fbfbfb;
}
.gt-container .gt-header-textarea:focus {
    background-color: #fbfbfb;
}
.gt-container .gt-avatar img {
    border-radius: 50% !important;
}
.gt-container .markdown-body a[target="_blank"] {
    pointer-events: none;
    cursor: default;
}
.gt-container .gt-popup {
    border-radius: 10px;
}
.gt-container .markdown-body {
    color: unset !important;
}
.gt-container .markdown-body p {
    margin: 10px 0 !important;
}
.gt-container .markdown-body blockquote {
    border-left: unset !important;
    padding: 1px 20px !important;
    border-left: 3px solid #1e3e3f !important;
    color: unset !important;
}
.gt-container .markdown-body code {
    font-family: "Fira Code" !important;
    background: rgba(189, 220, 247, 0.42);
    border-radius: 4px;
    font-size: 14px;
    color: #4b616b;
}
.gt-container .markdown-body pre {
    font-family: "Fira Code" !important;
    font-weight: 500;
    border: 1px solid #ebeef5;
    padding: 20px;
    margin: 25px 0;
    border-radius: 15px !important;
}
#img_show {
    position: fixed !important;
    display: none;
    z-index: 205;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0003;
    opacity: 0;
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
    align-items: center;
    justify-content: center;
}
#img_content {
    position: relative;
    margin: auto;
    max-width: 95vw;
    max-height: 95vh;
    border-radius: 5px;
    border: 1px solid #0002;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #e6efff;
    border-radius: 100px;
}
::-webkit-scrollbar-thumb {
    background: #8ab5ff;
    border-radius: 100px;
    border: 3px solid #e6efff;
}
::selection {
    background-color: #edf7ff;
    color: #9dd1ff;
}
::-moz-selection {
    background-color: #edf7ff;
    color: #9dd1ff;
}
@media (min-width: 900px) {
    #menu .desktop-menu {
        display: block;
    }
    #menu .phone-menu {
        display: none;
    }
    #home-head .home-info {
        width: 500px;
        height: 500px;
    }
    #home-head .home-info .loop {
        position: absolute;
        width: 500px;
        height: 500px;
        display: inline-block;
    }
    #home-head .home-info .info {
        width: 500px;
        height: 500px;
    }
    #home-head .home-info .info .wrap {
        padding: 25px;
    }
    #home-head .home-info .info .wrap h1 {
        font-size: 52px;
        font-weight: bold;
        font-family: "Poppins", "Noto Sans SC", sans-serif;
        margin-bottom: 10px;
    }
    #home-head .home-info .info .wrap h3 {
        font-size: 24px;
        margin: 10px 0;
    }
    #home-head .home-info .info .wrap h5 {
        font-size: 16px;
        margin: 20px 0;
    }
    ul {
        padding-left: 40px;
    }
    ol {
        padding-left: 40px;
    }
    #home-posts-wrap {
        max-width: 1300px;
        min-width: 900px;
        padding: 30px 0;
    }
    .home-posts-wrap-no-card {
        max-width: 900px !important;
    }
    #home-posts {
        width: 800px;
        margin-left: auto;
        margin-right: 50px;
    }
    #home-posts .post {
        padding: 50px 50px;
        margin: 25px 0;
    }
    #home-posts .post .excerpt {
        padding: 20px 0;
    }
    #home-card {
        margin-right: auto;
    }
    .article {
        width: 900px;
    }
    #archives {
        width: 900px;
    }
    .categories-tags {
        width: 900px;
    }
    footer .footer-wrap {
        width: 900px;
    }
}
@media (min-width: 900px) and (max-width: 1200px) {
    #home-posts-wrap {
        width: 900px;
        padding: 30px 0;
    }
    #home-posts {
        width: 800px;
        margin: auto;
    }
    #home-card {
        display: none;
    }
}
@media (max-width: 900px) {
    #menu .desktop-menu {
        display: none;
    }
    #menu .phone-menu {
        display: block;
    }
    #home-head .home-info {
        width: 350px;
        height: 350px;
    }
    #home-head .home-info .loop {
        position: absolute;
        width: 350px;
        height: 350px;
        display: none;
    }
    #home-head .home-info .info {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 350px;
        height: 350px;
        background: rgba(255, 255, 255, 0.651);
    }
    #home-head .home-info .info .wrap {
        padding: 50px;
    }
    #home-head .home-info .info .wrap h1 {
        font-size: 46px;
        font-weight: bold;
        font-family: "Poppins", "Noto Sans SC", sans-serif;
        margin-bottom: 10px;
    }
    #home-head .home-info .info .wrap h3 {
        font-size: 20px;
        margin: 10px 0;
    }
    #home-head .home-info .info .wrap h5 {
        font-size: 14px;
        margin: 20px 0;
    }
    ul {
        padding-left: 20px;
    }
    ol {
        padding-left: 20px;
    }
    #home-posts-wrap {
        padding: 20px 0;
        width: 95%;
    }
    #home-card {
        display: none;
    }
    #home-posts {
        margin: auto;
        width: 100%;
    }
    #home-posts .post {
        padding: 20px 30px;
        margin: 30px 0;
    }
    #home-posts .post .post-tags {
        padding-right: 69px;
    }
    #home-posts .post .excerpt {
        padding: 20px 0;
    }
    .article {
        width: 85%;
    }
    #archives {
        width: 90%;
    }
    .categories-tags {
        width: 90%;
    }
    footer .footer-wrap {
        width: 100%;
    }
}
