// by @sergodeeva (https://github.com/sergodeeva)
$color-background = rgba(255, 227, 168, 0.2)
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #666
$color-scrollbar = #AAA
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
$color-link = rgba(212, 128, 170, 1)
$color-text = #000000
$color-accent-3 = rgba(0, 0, 0, 0.8)
$color-accent-2 = #343434
$color-accent-1 = rgba(255, 18, 18, 0.49)
$color-quote = #2bbc8a
$highlight = hexo-config("highlight") || "atelier-cave-light"
