<div style="position: relative; top: 0px">
    <div class="card-style" style="width: 300px">
        <div class="avatar">
            <img data-src="https://gitcode.net/TroTro_/image/-/raw/master/touxiang.jpg" alt="avatar">
        </div>
        <div class="name">
            <h1>TroTro</h1>
            <span style="display: inline-block">
                当前学习
                <h3 style="display: inline-block; color: #9dd1ff">论坛项目制作</h3>
            </span>
        </div>
    </div>
</div>

<div style="position: relative; top: 80px;">
    <div class="card-style" style="width: 300px;
        background-image: -moz-linear-gradient(180deg, rgb(251, 121, 169), rgb(247, 105, 159));
        background-image: -webkit-linear-gradient(180deg, rgb(251, 121, 169), rgb(247, 105, 159));
        background-image: linear-gradient(180deg, rgb(251, 121, 169), rgb(247, 105, 159));">
        <div style="position: relative; left: 45px; display: block; height: 80px;">
            <div class="lover">
                <img data-src="https://gitcode.net/TroTro_/image/-/raw/master/loverLeft.jpg" alt="avatar">
            </div>
            <div class="lover-love">
                <img data-src="https://gitcode.net/TroTro_/image/-/raw/master/love.png" alt="avatar">
            </div>
            <div class="lover">
                <img data-src="https://gitcode.net/TroTro_/image/-/raw/master/loverRight.jpg" alt="avatar">
            </div>
        </div>
        <div id="loveTime"></div>
    </div>
</div>

<script type="text/javascript">
    setInterval(() => {
        var date1 = '2022/06/25 00:00:00';
        var date2 = new Date();
        var date3 = date2.getTime() - new Date(date1).getTime();
        var days = Math.floor(date3 / (24 * 3600 * 1000))
        var leave1 = date3 % (24 * 3600 * 1000)
        var hours = Math.floor(leave1 / (3600 * 1000))
        var leave2 = leave1 % (3600 * 1000)
        var minutes = Math.floor(leave2 / (60 * 1000))
        var leave3 = leave2 % (60 * 1000)
        var seconds = Math.round(leave3 / 1000)

        document.getElementById("loveTime").innerHTML =
            "<h3 style=\"color: white\" " + ">" + days + "天" + hours + "时" + minutes + "分" + seconds + "秒" + "</h3>"
    }, 1000)
</script>

<div style="position: relative; top: 160px">
    <div class="card-style" style="width: 300px; padding-top: 10px; background: rgba(240,202,252,0.73);">
        <div style="background: rgba(255,255,255,0.8); width: 280px; margin: auto; border-radius: 10px; padding-left: 10px; padding-right: 10px">
            <h1>知乎热搜</h1>
            <div id="zhiHuHot"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    fetch("https://tenapi.cn/zhihuresou/").then(data => {
        return data.json()
    }).then(res => {
        for (let i = 0; i < res.list.length; i++) {
            let div = document.getElementById("zhiHuHot")
            let elem = document.createElement("div")
            let text = res.list[i].name

            elem.innerHTML =
                "<a style='font-size: large; color: rgba(0,0,0,0.45)' " +
                "title=" + res.list[i].query +
                " href=" + res.list[i].url + ">"
                + text +
                "</a>"
            div.appendChild(elem)
            div.appendChild(document.createElement("br"))
        }
    })
</script>

