<div id="home-head">
        <div id="home-info" class="home-info">
            <span class="loop"></span>
            <span class="loop"></span>
            <span class="loop"></span>
            <span class="loop"></span>
            <span class="info">
            <div class="wrap">
                <h1>TroTro</h1>
                <div style="text-align:center;font-size:2rem;">
                    <strong id="typed3"></strong>
                </div>
            </div>
            </span>
        </div>
</div>

<div id="home-posts-wrap">
    <div id="home-posts">
        <div id="posts">
            <%- include("posts") %>
            <%- include("current") %>
        </div>
    </div>

    <div id="home-card">
        <%- include("card") %>
    </div>
</div>
